@model IEnumerable<sampleweb.Models.Category>
@{
    Layout = "_Layout";
}
<h1>hello from index</h1>

<a asp-action="Create">Create Category</a>


<table style="">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Actions</th>
    </tr>
@foreach (var item in Model)
{
    <tr>
        <td>@item.Id</td>
        <td>@item.Name</td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.Id">update</a>
            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </td>
    </tr>
}
</table>
